h2 {
    color: #333;
    border-bottom: 3px solid #007bff; /* Admin plava */
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 700;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistika-slika {
    object-fit: contain;
    width: 600px;
    height: 600px;
}